.visas-thumb{
    width:18px;
    margin:2px;
    border:1px solid grey;
    padding:2px;
}

#visas {
    list-style-type: none;
    padding-left:0;
}

#visas li {
    list-style-type: none;
    margin-bottom: 3px;
    position:relative;
}

.ui-icon.ui-icon-arrowthick-2-n-s {
    display:inline-block;
    position:relative;
    top:3px;
}

.delete-visa{
    position:absolute;
    top:4px;
    right:3px;
}

.edit-visa {
    position:absolute;
    top:3px;
    right:20px;
}

.visa-description {
    position:relative;
    left:100px;
}


