.tour-gallery-thumb{
    width:34px;
    margin:2px;
    border:1px solid grey;
    padding:2px;
}

#tour-gallery {
    list-style-type: none;
    padding-left:0;
}

#tour-gallery li {
    list-style-type: none;
    margin-bottom: 3px;
    position:relative;
}

.ui-icon.ui-icon-arrowthick-2-n-s {
    display:inline-block;
    position:relative;
    top:3px;
}

.delete-tour-gallery-image{
    position:absolute;
    top:4px;
    right:3px;
}

.edit-tour-gallery-image{
    position:absolute;
    top:3px;
    right:20px;
}

.tour-gallery-image-description {
    position:relative;
    left:100px;
}


