.not-visible{
    visibility: hidden!important;
}

.navbar-static-top {
    z-index:100;
}

.margin-right-5{
    margin-right:5px;
}

.explanation-question{
    display:inline-block;
    font-size: 10px;
    position: relative;
    top: -2px;
    left:3px;
}
.delete_dest_img{
    color: #fff;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    background-color: #000;
    cursor: pointer;
}
