.flag-thumb{
    width:18px;
    margin:2px;
    border:1px solid grey;
    padding:2px;
}

#countries {
    list-style-type: none;
    padding-left:0;
}

#countries li {
    list-style-type: none;
    margin-bottom: 3px;
    position:relative;
}

.delete-country{
    position:absolute;
    top:3px;
    right:3px;
}

.edit-country {
    position:absolute;
    top:3px;
    right:20px;
}

.gallery-country{
    position:absolute;
    top:3px;
    right:37px;
}

.country-name {
    position:relative;
    left:100px;
}


