.best-offer-thumb{
    width:34px;
    margin:2px;
    border:1px solid grey;
    padding:2px;
}

#best-offers {
    list-style-type: none;
    padding-left:0;
}

#best-offers li {
    list-style-type: none;
    margin-bottom: 3px;
    position:relative;
}

.ui-icon.ui-icon-arrowthick-2-n-s {
    display:inline-block;
    position:relative;
    top:3px;
}

.delete-best-offer{
    position:absolute;
    top:4px;
    right:3px;
}

.edit-best-offer {
    position:absolute;
    top:3px;
    right:20px;
}

.best-offer-description {
    position:relative;
    left:100px;
}


