.slider-thumb{
    width:100px;
    margin:2px;
    border:1px solid grey;
    padding:2px;
}

#slides {
    list-style-type: none;
    padding-left:0;
}

#slides li {
    list-style-type: none;
    margin-bottom: 3px;
    position:relative;
}

.ui-icon.ui-icon-arrowthick-2-n-s {
    display:inline-block;
    position:relative;
    top:3px;
}

.delete-slide{
    position:absolute;
    top:4px;
    right:3px;
}

.edit-slide {
    position:absolute;
    top:3px;
    right:20px;
}

.slide-title {
    position:relative;
    left:100px;
}


