.tour-thumb{
    width:50px;
    margin:2px;
    border:1px solid grey;
    padding:2px;
}

#tours {
    list-style-type: none;
    padding-left:0;
}

#tours li {
    list-style-type: none;
    margin-bottom: 3px;
    position:relative;
}

.delete-tour{
    position:absolute;
    top:3px;
    right:3px;
}

.edit-tour {
    position:absolute;
    top:3px;
    right:20px;
}
.ui-icon.ui-icon-arrowthick-2-n-s {
    display:inline-block;
    position:relative;
    top:3px;
}

.gallery-tour{
    position:absolute;
    top:3px;
    right:37px;
}




