@media (max-width: 2000px) {
    #lets-plan .modal-dialog {
        width: 730px;
    }
}

@media (max-width: 1200px) {
    .main-menu ul li a {
        padding: 15px;
    }

    .form-control.selectize-control {
        width: 150px;
    }
}

@media (max-width: 992px) {
   /* #visas-incoming-without_wrapper .pull-right,
    #visas-incoming-with_wrapper .pull-right{
        float: left !important;
        margin-top: 5px;
    }*/
    #languages+.form-control.selectize-control{
        width: 50px;
    }
    .selectize-control .selectize-input {
        padding: 6px 2px;
        border: none;
    }
    .tours-box .selectize-input {
        border: 1px solid #c2c2c2;
    }
    .selectize-control .selectize-input:focus, .selectize-control .selectize-input.focus{
        border: none;
        outline: none;
        box-shadow: none;
    }
    .languages-box span{
        display: none;
    }

    .languages-box > span{
        display: block;
    }
    .box-out-image {
        display: block;
        text-align: center;
        max-width: 100%;
    }
    .box-out-image img{
        max-width: 220px;
        display: inline-block;
    }

    .form-control.selectize-control {
        width: 250px;
    }
}

@media (max-width: 767px) {
    .visas-anchors .button.button-blue {
        margin-bottom: 10px;
    }
    .navbar-collapse.no-padding {
        padding-left: 15px;
        padding-right: 15px;
    }
    #languages+.form-control.selectize-control{
        width: 100%;
        margin-bottom: 20px;
    }
    .languages-box span{
        display: inline-block;
    }
    .selectize-control .selectize-input {
        border: 1px solid #cccccc;
        padding: 6px 12px;
    }
    .selectize-control .selectize-input.focus{
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);
    }
    .tours-box .box{
        text-align: center;
    }
    .logo-box{
        margin-bottom: 20px;
        text-align: center;
    }
    #lets-plan .form-group input {
        margin-bottom: 10px;
    }
    #lets-plan .modal-dialog {
        width: auto;
    }

    .logo {
        text-align: center;
    }


    .destination-txt {
        text-align: left;
    }

    .destination-txt p {
        letter-spacing: 0;
    }


}

@media (max-width: 500px) {
    .destination-txt p {
        display: none;
    }
    .logo-cwt {
        max-width: none;
    }
    .box-out-block .box-out ul {
        background-size: 70px auto;
    }
}
@media (max-width: 445px) {
    #visas-incoming-with_wrapper .dataTables_paginate,
    #visas-incoming-without_wrapper .dataTables_paginate,
    #visas-outgoing-without_wrapper .dataTables_paginate,
    #visas-outgoing-with_wrapper .dataTables_paginate
{
        margin-top: 10px;
    }
}
@media (max-width: 420px) {

    .main-title h3 {
        padding: 0 5px;
        font-size: 20px;
    }

    .out-divider {
        margin-bottom: 15px;
    }

    header.top-header .top-social-icons li i {
        padding: 10px 5px;
    }

    .images-slider #fwslider .slide-content-wrap {
        margin: 10px auto;
    }

    .images-slider #fwslider .title {
        line-height: 20px;
        font-size: 18px;
    }

    .sb-search-input {
        max-width: 250px;
    }


    .form-control.selectize-control {
        width: 220px;
    }
    nav .social-menu .simptip-position-bottom:after, .simptip-position-top:after {
        margin-left: -50px;
    }
}