@import "../../vendor/font-awesome.css";
@font-face {
    font-family: "OpenSans-Regular";
    src: url('../../../fonts/OpenSans/regular/OpenSans-Regular.eot');
    src: url('../../../fonts/OpenSans/regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/OpenSans/regular/OpenSans-Regular.svg#Open Sans') format('svg'),
    url('../../../fonts/OpenSans/regular/OpenSans-Regular.woff') format('woff'),
    url('../../../fonts/OpenSans/regular/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweatherlight_italic';
    src: url('../../../fonts/mm/merriweather-lightit-webfont.eot');
    src: url('../../../fonts/mm/merriweather-lightit-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/mm/merriweather-lightit-webfont.woff2') format('woff2'),
    url('../../../fonts/mm/merriweather-lightit-webfont.woff') format('woff'),
    url('../../../fonts/mm/merriweather-lightit-webfont.ttf') format('truetype'),
    url('../../../fonts/mm/merriweather-lightit-webfont.svg#merriweatherlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "OpenSans-Light";
    src: url('../../../fonts/OpenSans/light/OpenSans-Light.eot');
    src: url('../../../fonts/OpenSans/light/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/OpenSans/light/OpenSans-Light.svg#Open Sans Light') format('svg'),
    url('../../../fonts/OpenSans/light/OpenSans-Light.woff') format('woff'),
    url('../../../fonts/OpenSans/light/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Semibold";
    src: url('../../../fonts/OpenSans/semibold/OpenSans-Semibold.eot');
    src: url('../../../fonts/OpenSans/semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/OpenSans/semibold/OpenSans-Semibold.svg#Open Sans Semibold') format('svg'),
    url('../../../fonts/OpenSans/semibold/OpenSans-Semibold.woff') format('woff'),
    url('../../../fonts/OpenSans/semibold/OpenSans-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url('../../../fonts/OpenSans/bold/OpenSans-Bold.eot');
    src: url('../../../fonts/OpenSans/bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/OpenSans/bold/OpenSans-Bold.svg#Open Sans') format('svg'),
    url('../../../fonts/OpenSans/bold/OpenSans-Bold.woff') format('woff'),
    url('../../../fonts/OpenSans/bold/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'OdessaScript-Regular';
    src: url('../../../fonts/Odessa/OdessaScript.eot');
    src: url('../../../fonts/Odessa/OdessaScript.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/Odessa/OdessaScript.woff') format('woff'),
    url('../../../fonts/Odessa/OdessaScript.ttf') format('truetype'),
    url('../../../fonts/Odessa/OdessaScript.svg#OdessaScript-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2122;
}
@font-face {
    font-family:'AdobeCaslonPro';
    src: url('../../../fonts/AdobeCaslonPro.ttf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
a {
    text-decoration: none !important;
}

ul li {
    list-style-type: none;
}
* {
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

img {
    max-width: 100%;
}

.no-padding {
    padding: 0;
}

body {
    font-family: "OpenSans-Regular", sans-serif;
}

html,
body {
    height: 100%;
}

.red-txt {
    color: red;
}

.all-contianer {
    min-height: 100%;
    height: auto;
    padding: 0 0 139px;
}

.db {
    display: block;
}

.dn {
    display: none;
}

.dib {
    display: inline-block;
}
.mt10{
    margin-top: 10px;
}
.mt5{
    margin-top: 5px;
}
.mt20 {
    margin-top: 20px;
}

.mt50 {
    margin-top: 50px;
}

.mt150 {
    margin-top: 150px;
}
.button {
    padding: 6px 10px 4px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    outline: none;
}

.button-blue {
    background-color: #2C3E50;
    border-bottom: 4px solid #2A323A;
    color: #FFF;
}
.button-blue:hover {
    background-color: #991113;
    color: #fff;
}
.button-green{
    background-color: #991113;
    color: #fff;
}
.button-green:hover {
    background-color: #2C3E50;
    border-bottom: 4px solid #2A323A;
    color: #fff;
}
.button-gray {
    background-color: #e6e6e6;
    border-bottom: 4px solid #adadad;
    color: #2C3E50;
}

.button-gray:hover {
    background-color: #adadad;
    border-bottom: 4px solid #686868;
    color: #fff;
}

/*  start header    */
header.top-header {
    background: #94403D;
    min-height: 95px;
    margin-bottom: -1px;
}

.logo {
    margin-top: 10px;
}

.logo a {
    width: 135px;
    height: 90px;
    background-image: url("../../../img/logo_11.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -99999px;
    display: inline-block;
}

.logo img {
    max-height: 40px;
}

.logo-cwt {
    max-height: 60px;
    margin-top: 5px;
    float: right;
}

.logo-partner-footer{
    max-height: 50px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.footer_blocks{
    float: left;
    text-align: left;
}
.footer_blocks1,.footer_blocks2{
    width: 20%;
}
.footer_blocks3, .footer_blocks4{
    width: 30%;
}
.footer_blocks ul li{
    padding-bottom: 5px;
}
.footer_blocks .title{
    color: #994646;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 16px;
}
.footer_email{
    border: 0;
    padding: 5px 10px;
    font-size: 12px;
    width: 75%;
    color: #000;
}
.footer_send{
    background: #994646;
    border: none;
    padding: 5px 10px;
    font-size: 11px;
    font-weight: bold;
    width: 29%;
    margin-top: 5px;
    float: right;
    margin-right: 71px;
}
.footer .social{
    padding-top: 25px;
}
.footer .social a{
    margin-right: 15px;
}
.load-more-feedbacks .fa-chevron-circle-right{
    font-size: 25px;
}
.destination-txt {
    text-align: center;
}
.container{
    max-width: 1000px;
}
.top-header .container{
    width: 1170px;
    padding-top: 18px;
}
.destination-txt p {
    /*font-family:'OdessaScript-Regular';*/
    font-family: 'merriweatherlight_italic';
    color: #112F4F;
    text-shadow: 4px 4px 2px rgba(29, 210, 175, .15);
    font-size: 16px;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 0;
    letter-spacing: 3px;
    font-style: italic;
}
footer .icon a:hover i {
    color: #994646;
}

footer .icon  [data-tooltip].simptip-position-bottom:before {
    border-bottom-color: #991113;
}

footer .icon [data-tooltip].simptip-position-bottom:after {
    background-color: #991113;
    color: #fff;
}

/*=====================================================================  my styles ===================================*/

/*+++++++++++++++++++*/
video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;*/
    background-size: cover;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
}
.no_padding{
    padding: 0px !important;
}

.visas_fon_img{
    background-image: url("/public/uploads/visas/row.jpg");
    background-size: cover;
    height: 159px;

}
body > div.all-contianer > div > div > div:nth-child(1) > h1{
    color: rgba(246, 196, 82, 1);
}
.visas_fon_img h1{
    color: rgba(246, 196, 82, 1) !important;
    font-family: OpenSans-Bold;
}
.visas_fon_img p{
    color: white;
    font-family: OpenSans-Bold;
    font-size: 18px;
}
#tables_contein{
    margin-top: 10%;
    width: 60%;
    margin-left: 20%;
}
.information_visas > div:nth-child(1) > p{
    padding: 5%;
    margin: 0px;
}
.information_visas > div:nth-child(2) > p{
    padding: 5%;
    margin: 0px;
}
#visas-outgoing-without > tbody > tr > td> img, #visas-outgoing-with > tbody > tr > td> img{
    width: 100px;
    height: 55px;
    margin-top: 3%;
    margin-bottom: 6%;
}
#visas-outgoing-without, #visas-outgoing-with{
    width: 100%;
    background-color: #E4E4EB;
}
.activ_element{
    background-color: #F6C452 !important;
    opacity: 1 !important;
}
#tables_contein > div > div.information_visas .information_visa.without, #tables_contein > div > div.information_visas .information_visa.with{
    background-color: #F4E2B8;
    opacity: .7;
}

.information_visas .with, .information_visas .without{
    width: 50%;
}

#tables_contein .information_visa.without{
    width: 50%;
}
#tables_contein .information_visa:hover{
    cursor: pointer;
}
#tables_contein .information_visa{
    height: 280px;
}
.element_hover{
    cursor: pointer;
    opacity: .8;
    background-color: #F6C452;

}
#tables_contein .information_visa > p{
    font-size: 40px;
    font-family: 'Avenir-Demi';
}

#tables_contein .without > p > span > span, #tables_contein .with > p > span > span{
    font-size: 13px;
}
#tables_contein .without > p > span, #tables_contein .with > p > span{
    color: #4A5C3A;
    position: inherit;
    float: right;
}
#click_to_see{
    background-color: rgba(246, 196, 82, 1);
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 25px;
    padding-right: 25px;
    /*padding-left: 25px;*/
    color: #4A5C3A !important;
    border-radius: 25px;

}
#visas-outgoing-with_filter > label, #visas-outgoing-without_filter > label{
    /*margin-top: 0% !important;*/
    margin-bottom: 10% !important;
    position: absolute;
    /*margin-top: 0%;*/
    margin-left: -23% !important;
    margin-top: 2.5% !important;
}
#visas-outgoing-with > thead > tr > th.sorting_disabled, #visas-outgoing-without > thead > tr > th.sorting_disabled{
    padding-left: 2%;
}
#visas-outgoing-with > tbody > tr > td:nth-child(3), #visas-outgoing-without > tbody > tr > td:nth-child(3){
    text-align: left;
    font-size: 18px;
    font-family: 'Avenir-Demi';
    color: #44593A;
    padding-left: 2%;
}
#tables_contein > div > div.information_visas > div.col-md-6.information_visa.without > p{
    padding-left: 8%;
}
#tables_contein > div > div.information_visas > div.col-md-6.information_visa.with > p{
    padding-right: 8%;
}

#visas-outgoing-with > tbody > tr > td:nth-child(4), #visas-outgoing-without > tbody > tr > td:nth-child(4){
    font-size: 14px;
    font-family: 'Avenir-Demi';
    color: #44593A;

}
#visas-outgoing-with > tbody > tr > td:nth-child(4), #visas-outgoing-without > tbody > tr > td:nth-child(4){
    text-align: left;
    width: 80%;
}
#visas-outgoing-with > tbody > tr > td:nth-child(2), #visas-outgoing-without > tbody > tr > td:nth-child(2){
    border-right: 3px solid rgba(246, 196, 82, 1);
}
#visas-outgoing-with > thead, #visas-outgoing-without > thead{
    border-bottom: 3px solid rgba(246, 196, 82, 1);
}
#visas-outgoing-with > thead > tr, #visas-outgoing-without > thead > tr{
    font-size: 20px;
    font-family: 'Avenir-Demi';
    color: #72302E;
    padding-bottom: 5% !important;
    padding-top: 10% !important;
}
#visas-outgoing-with_filter > label > input, #visas-outgoing-without_filter > label > input{
    width: 200px;
}
#visas-outgoing-with > thead > tr > th.sorting_disabled, #visas-outgoing-without > thead > tr > th.sorting_disabled{
    padding-bottom: 1%;
    padding-top: 3%;
}
#visas-outgoing-with > thead > tr > th.sorting_disabled, #visas-outgoing-without > thead > tr > th.sorting_disabled{
    padding-bottom: 1%;
    padding-top: 3%;
}
#visas-outgoing-with > thead > tr > th.sorting_disabled, #visas-outgoing-without > thead > tr > th.sorting_disabled{

}
#visas-outgoing-with > tbody > tr > td:nth-child(3), #visas-outgoing-with > tbody > tr > td:nth-child(4){
    border-bottom: 1px solid rgba(246, 196, 82, 1);
}
#visas-outgoing-without > tbody > tr > td:nth-child(3), #visas-outgoing-without > tbody > tr > td:nth-child(4){
    border-bottom: 1px solid rgba(246, 196, 82, 1);
}
#tables_contein button{
    background-color: rgba(246, 196, 82, 1);
    border-radius: 25px;
    width: 50%;
    margin-top: 5%;
    color: #44593A;
}
#tables_contein button:hover{
    background-color: #638256;
    border-radius: 25px;
    width: 50%;
    margin-top: 5%;
    color: rgba(246, 196, 82, 1);
}
#visas-outgoing-with, #visas-outgoing-without{
    margin-top: 0 !important;
}
/*#tables_contein > div > div.information_visas > div.col-md-6.information_visa.without.no_padding.activ_element > p{*/
/*font-family: 'Adobe-Coslon';*/
/*text-transform: lowercase;*/
/*}*/
#tables_contein .without > p, #tables_contein .with > p{
    font-family: 'Adobe-Coslon';
    text-transform: lowercase;
    color: #44593A;
}

/*styles 03_03*/
#about_us_service_page img{
    background-size: cover;
    /*margin-left: 10% !important;*/
}
#about_us_service_page >.our_service h2{
    /*padding: 2% !important;*/
    font-family: "OpenSans-Regular";

    margin-top: 15%;
    margin-bottom: 3%;
}
#about_us_service_page {
    background-color: #F5F5F5;
}
#about_us_service_page > div.col-md-4.col-md-offset-2.our_service.no_padding > div > div:nth-child(1) > div:nth-child(1) > h2{
    margin-top: 0% !important;
}
#about_us_service_page h1{
    text-align: center;
    font-family: "OpenSans-Light";
    font-size: 40px;
    margin-bottom: 2%;
    margin-top: 0% !important;
    color: #707070;
    padding-top: 5%;
    padding-bottom: 2%;
}


#about_us_service_page p{
    font-family: "Lato-Hairline";
    font-weight: 800;
    font-size: 20px;
    padding-right: 5% !important;

}

/*========================      team    ===================*/
#team > img{
    background-size: contain;
}
#team h1{
    text-align: center;
    font-family: "OpenSans-Light";
    font-size: 40px;
    margin-bottom: 5%;
    color: #707070;
    padding-top: 5%;
}

#team p{
    font-family: "Lato-Hairline";
    font-weight: 800;
    font-size: 20px;
    padding: 10% !important;
    padding-top: 0 !important;
}
#team p > span{
    font-family: "OpenSans-Regular";
    font-weight: 800;
    /*font-size: 20px;*/
}
#personal > div{
    margin-top: 3%;
}
#personal > div > div.col-md-8.no_padding{
    padding-right: 2% !important;
    padding-left: 2% !important;
}
#personal h2{
    font-family: "OpenSans-Regular";

}
#personal p{
    font-family: "Lato-Hairline";
    font-weight: 800;
    font-size: 20px;
}
/*================= company name    ==================*/
#company_name > div{
    background-image: url("/public/img/about_us/lori_berd_3.png");
    background-size: cover;
    height: 1420px;
}
#company_name h1{
    text-align: center;
    font-family: "OpenSans-Light";
    font-size: 40px;
    margin-bottom: 5%;
    color: #707070;
    padding-top: 5%;
}
#company_name p{
    font-family: "Lato-Hairline";
    font-weight: 800;
    font-size: 20px;
}

/*#visas-outgoing-with{*/
/**/
/*}*/
/*#tables_contein > div > div.information_visas > div.col-md-6.information_visa.no_padding{*/
/*background-color: yellow;*/
/*}*/
/*=======================================*/

/*      end header      */
/*      start main menu     */
.main-menu.navbar-default {
    background: none;
    border: none;
    margin-bottom: 0;
    padding-top: 10px;
}

.main-menu.navbar-default .navbar-nav>.active>a, .main-menu.navbar-default .navbar-nav>.active>a:focus, .main-menu.navbar-default .navbar-nav>.active>a:hover,
.main-menu.navbar-default .navbar-nav>li>a:focus, .main-menu.navbar-default .navbar-nav>li>a:hover {
    color: #E9DB89;
    background: none;
}

.main-menu.navbar-default .navbar-nav>li>a {
    border-bottom: 2px solid transparent;
    font-family: "OpenSans-Semibold", sans-serif;
}
.navbar-default .navbar-nav>li>a{
    color: #fff;
}

.dropdown-menu>li>a {
    font-family: "OpenSans-Semibold", sans-serif;
}
.nav>li>a {
    padding: 15px 13px;

}
/*      end main menu       */
#fwslider .progress {
    border-radius: 0;
}

.slide-btns ul li a:hover {
    text-decoration: none;
}
.slide-btns .mapbtn{
    font-size: 20px !important;
    font-weight: 700;
    padding: 15px 71px!important;
    border: 2px solid #F6C452;
}
.travel_agency{
    color: #F6C452;
    font-style: italic;
    text-align: center;
}

.slide-content .description {
    margin-top: 20px;
}
#fwslider .title{
    width: 55%;
    font-size: 55px!important;
    line-height: 78px;
    margin: 0 auto;
}
/*about us*/
.about_us_block img{
    background: #990000;
    padding: 6px;
    border-radius: 12px;
}
.title_about{
    color: #F6C452;
    text-transform: capitalize;
    letter-spacing: 8px;
    font-weight: bold;
}
.about_head_block span{
    color: #fff;
    font-size: 11px;
    letter-spacing: 2px;
    width: 55%;
    display: inline-block;
}
.home_about .about_head_block span{
    width: 100%;
    font-weight: bold;
}
.home_about .about_head_block{
    overflow: inherit;
}
.valute_calculate{
    width: 970px;
    padding: 15px;
    color: #000;
    margin: 0 auto;
    padding-right: 0;
}
.valute_calculate_block{
    background: #E5E5E5;
    width: 100%;
    display: inline-block;
    padding: 15px;
    margin-top: 40px;
}
.clock_content{
    margin-top: 20px;
}
.valute_to, .valute_from{
    width: 80%;
}
.select_valute_to, .select_valute_from{
    width: 16%;
}
.valute_calculate input{
    padding: 10px 7px;
    border: 1px solid #72302E;
    margin-top: -1px;
    margin-right: 10px;
    color: #000;
    font-size: 16px;
}
.valute_block select{
    background: #333333;
    color: #fff;
    font-weight: bold;
    padding: 11px;
    outline: none;
    border: 0;
}
.valute_calculate h2, .clock_title{
    font-size: 25px;
    color: #72302E;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 7px;
    text-transform: uppercase;
}
.calculate_currency{
    border: 0;
    background: #72302E;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    outline: none;
    margin-top: 15px;
}
.search_tours{
    float: right;
}
.search_tours .selectize-input, .selectize-control.single .selectize-input.input-active{
    background: #94403D!important;
    border: 0;
    border-radius: 25px;
    color: #72302E!important;
}
.view-more-about{
    color: #72302E;
    margin-top: 15px;
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
}
.view-more-about:hover{
    color: #fff;
}
.view-more-about i{
    color: #72302E;
    font-weight: 700;
}
.home_about{
    min-height: 280px!important;
}
.about_title_block h3{
    width: 420px;
    color: #72302E;
    text-align: right;
    padding: 0;
    padding-bottom: 5px;
    letter-spacing: 5px;
}

/*      start bxslider      */

.special-offers .bxslider li, .box-out {
   /* border: 1px solid #ddd;
    border-top: 3px solid #991113;
    background-color: #eee;*/
    padding: 1em;
}
.box-out {
    /*border-top: 1px solid #ddd;
    border-bottom: 3px solid #991113;*/
}
.box-out-border{
    /*border-bottom: 2px dashed #991113;
    margin-bottom: 20px;
    padding-bottom: 10px;*/
}

.special-offers .bxslider li a span {
    font-size: 14px;
    color:#717171;
    line-height:1.5em;
}
.box-out-image{
    max-width: 200px;
}
.map-hover h2{
    margin-top: 0;
    margin-right: 10px;
}
.mapbtn{
    color: #638256!important;
    font-size: 14px!important;
    border: 0!important;
    background-color: rgba(246, 196, 82, 1);
    font-weight: bold;
    margin-top: 30px!important;
    padding: 6px 32px!important;
    border-radius: 30px!important;
    border: 2px solid #F6C452 !important;
}
.mapbtn:hover{
    background-color: #638256!important;
    color: rgba(246, 196, 82, 1) !important;
    border: 2px solid #F6C452 !important;
}
.special-offers .bxslider li a {
    color: #991113;
    font-size: 1.2em;
    display: block;
    padding: 0.4em 0 0;
}

.special-offers .bxslider li span {
    color:#999;
    font-size:0.8em;
}

.special-offers .bx-wrapper .bxslider img {
    display: inline-block;
}

.bx-wrapper {
    max-width: 100% !important;
}

/*      end bxslider        */

/*      start special offer     */

.main-title h3 {
    font-size: 24px;
    margin-top: 20px;
    font-family: "OpenSans-Semibold", sans-serif;
    color: #2C3E50;
    position: relative;
    top: 20px;
    display: inline-block;
    background-color: white;
    padding: 0 20px;
}

.main-title {
    font-size: 18px;
    color: #2C3E50;
    margin-bottom: 20px;
}
.out-divider {
    margin-bottom: 20px;
    text-align: left;
}
.out-divider h3{
    text-transform: uppercase;
    letter-spacing: 14px;
    color: #72302E;
    font-size: 30px;
    width: 100%;
    padding-bottom: 10px;
    padding-right: 0;
    text-align: center;
}
.offer_title h3,.offer_title p{
    border-bottom: 0px!important;
    color: #72302E!important;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}
.contact_title h3{
    color: #994646;
    width: 370px;
}
.load-more-feedbacks{
    float: left;
    width: 65px;
    color: #994646;
    font-weight: bold;
    font-size: 13px;
}
.load-more-feedbacks .fa-angle-double-down{
    color: #F6C452;
    font-size: 20px;
    margin-right: 5px;
}

/*      end special offer       */
/***      start customer feedbacks    ***/
.box-out-block {
    padding:  0 0 1em;
    margin: 0 auto;
    float: none;
}
.box-out-block .box-out li:first-child {
    padding-right: 95px;
}
.box-out-block .box-out ul {
   /* background: url("../../../img/testimonials.png") no-repeat #eee right top;
    background-size: 90px auto;*/
}
.feedback-name {
    color: #72302E;
    font-size: 18px;
    font-style: italic;
    min-height: 33px;
    font-weight: bold;
    border-bottom: 1px solid #72302E;
    width: 70%;
    text-align: left!important;
}
.feedback-comment{
    color: #333333;
    margin-top: 15px;
    font-size: 12px;
    line-height: normal;
    width: 80%;
    text-align: left!important;
}
.add_feedback, .add_feedback_button{
    color: #840001;
    font-size: 18px;
    border: 0;
    background-color: rgba(246, 196, 82, 1);
    font-weight: bold;
    margin-top: 30px;
    padding: 6px 32px;
    border-radius: 23px;
    float: left;
    display: inline-block;
    border: 3px solid #F6C452!important;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}
.add_feedback:hover, .add_feedback_button:hover{
    background-color: transparent;
    color: #F6C452;
}
/***      end customer feedbacks    ***/
/*      start footer        */
footer.footer {
    background-color: #333333;
    box-sizing: border-box;
    padding-top: 40px;
    color: #eee;
}

.footer p {
    font-size: 12px;
}

.copyright {
    padding-top: 100px;
    margin-bottom: 0;
    text-align: left;
}

.footer-info {
    padding-bottom: 10px;
}

.footer-partners {
    border-bottom: 1px solid #0C131B;
}

.footer-info p {
    margin-bottom: 0;
}

.footer-info ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-info li {
    list-style-type: none;
    line-height: 20px;
}

.footer-info li a {
    color: #eee;
}

.footer-info li a:hover {
    color: #72302E;
}

.footer-info ul ul.social-menu li {
    display: inline-block;
}

.footer-info i {
    font-size: 18px;
}

.footer-info ul ul.social-menu li i {
    vertical-align: top;
    margin-left: 5px;
}

/*      end footer      */

/***        Let's Plan Modal        ***/
.save-changes-btn{
    margin-left: 15px;
}
#languages+.form-control.selectize-control {
    width: 140px;
    display: inline-block;
    top: 15px;
    float: right;
    margin-top: -7px;
}
.languages-sel{

}
.languages-sel .languages-box{
    background-color: #94403D;
}
.languages-sel .selectize-dropdown-content{
    padding: 0;
}
.selectize-dropdown, .selectize-dropdown.form-control{
    background: #72302E !important;
    border-radius: 0;
    border: 0!important;
}
.selectize-input, .selectize-control.single .selectize-input.input-active{
    background: #94403D!important;
    box-shadow: none;
}
.has-items, .focus, .selectize-input,.has-options{
    box-shadow: none!important;
}
.selectize-control.single .selectize-input:after{
    border-color: #fff transparent transparent transparent !important;
}
.selectize-control.single .selectize-input.dropdown-active:after{
    border-color: #fff transparent transparent transparent !important;
    border-width: 5px 5px 5px 5px!important;
    margin-top: 0!important;
}
.languages-sel .selectize-input, .languages-sel .dropdown-active{
    border: 0!important;
    border-radius: 25px!important;
    background-color: #94403D!important;
}
.languages-sel .dropdown-active span{
    background-color: #72302E!important;
}
.languages-sel .selectize-dropdown .active span, .languages-sel .selectize-input span{
    background-color: #94403D!important;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}
.languages-sel .selectize-dropdown .active{
    background-color: #94403D!important;
}
/*.languages-sel .selectize-dropdown .active:hover{
    background-color: #F3C88A!important;
    color: #72302E!important;
}
.languages-sel .selectize-dropdown .active span:hover{
    background-color: #F3C88A!important;
}*/
.languages-sel .languages-box img{
    display: none;
}
.languages-box span{
    color: #fff;
}

.selectize-input.focus{
    border: 0;
}
.selectize-input{
    border: 0;
}
.plan-your-trip {
    position: fixed;
    top: 250px;
    right: -250px;
    z-index: 9999;
}

.plan-your-trip a {
    color: #991113;
    padding: 10px 30px;
    display: inline-block;
}
.plan-your-trip a:hover {
    opacity: .8;
}

.plan-your-trip a:focus, a:focus{
    outline: none;
}

.plan-your-trip-txt {
    color: #fff;
    font-size: 14px;
}

.plan-your-trip-txt:hover {
    color: #994646;
}
#lets-plan {
    z-index: 99999;
}
#lets-plan .modal-title {
    font-family: "OpenSans-Bold";
    font-size: 20px;
    color: #2C3E50;
}
#lets-plan label {
    font-family: "OpenSans-Semibold";
}

/*#lets-plan .form-control,*/
/*.box-out-block .form-control,*/
/*.contact-info .form-control {*/
    /*border-radius: 3px;*/
    /*border: 1px solid #737E8A;*/
/*}*/
#lets-plan .form-control:focus,
.box-out-block .form-control:focus,
.contact-info .form-control:focus
{
    border-color: #991113;
}

label.required:after {
    content: " *";
    color: red;
}

/***       End Plan Modal        ***/

/***        About Us Page       ***/
.about-us-info {
    font-size: 16px;
    line-height: 25px;
    color: #2c3e50;
}
.logo-box img{
    max-width: 150px;
}
/***    Contact-us page         ***/
.contact-info ul li, .contact-info p{
    color: #44593A;
    font-size: 16px;
    width: 55%;
    margin: 0 auto;
}
.contact_block{
    margin-top: 50px;
}
.follows_block{
    height: 100px;
    background: #44593A;
    color: #F3C88A;
    margin-top: 60px;
    margin-bottom: 20px;
}
.contact-info a{
    color: #991113;
    font-size: 16px;
}
.contact-info form{
    margin: 25px 0;
    width: 50%;
    float: right;
    margin-right: 200px;
}
.contact-info form .form-group input {
    border: 1px solid #F6C452!important;
    border-radius: 7px;
}
.contact-info form textarea{
    margin: 15px 0;
    border: 1px solid #F6C452!important;
    border-radius: 7px;
}
.send-message-contact-us{
    background: #F6C452;
    border-radius: 10px;
    float: right;
}
.contact-info form button[type="submit"]{
    font-size: 16px;
    padding: 6px 20px 4px;
}
.follows_block_container{
    width: 1000px;
    float: none;
    margin: 0 auto;
    text-align: center;
}
.follows_block_container a{
    color: #999999;
    font-size: 30px;
    margin-right: 30px;
    margin-top: 32px;
    display: inline-block;
 }
.follows_block_container a span{
    color: #F3C88A;
    font-size: 15px;
}
.follow_a{
    margin-top: 30px!important;
}
.form-group{

}

/**     Tours Box   **/
.tours-box .box{
    margin-bottom: 40px;
    padding: 10px;
}
.tours-box .box a{
    color: #567084;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.tours-box .box a:hover{
    opacity: 0.7;
}
.tours-box .box .title {
    color: #2c3e50;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: "OpenSans-Semibold";
}
.tours-box .box .second-title{
    font-size: 16px;
}

.table tbody tr td{
    vertical-align: middle;
}

path {
    cursor: pointer;
}

.lets-plan-your-trip{
    display: inline-block;
    font-size: 12px;
    color: #F3C88A !important;
    font-weight: bold;
    letter-spacing: 2px;
}
.lets-plan--blocyour-tripk .fa-paper-plane-o, .lets-plan-your-trip-block .fa-paper-plane{
    margin-right: 15px;
    color: #A0494A;
    font-size: 35px;
    margin-top: 15px;
}
.trim_plane{
    width: 100%;
    display: block;
    margin-top: -20px;
}
.lets-plan-your-trip-block span{
    margin-left: 50px;
    margin-top: -68px;
    display: block;
}
#any-destination span{
    color: #e4e4e4;
}
.can-not-see {
    color: red;
    display: inline-block;
    margin-bottom: 5px;
}
.special-offers .bx-wrapper {
    padding: 1em 0 2em;

}
.owl-item .item{
    /*border: 1px solid #ddd;*/
    /*border-top: 3px solid #991113;*/
    margin: 3px;
    /*background-color: #eee;*/
    /*text-align: center;*/
    /*padding: 1em .5em;*/
}
.jobs_slide{
    position: relative
}
.jobs_slide .owl-controls, .feedback_slide .owl-controls{
    position: absolute;
    width: 100%;
    top: 0;
    text-align: right!important;
}
.our_jobs_item{
    padding: 3px!important;
}
.owl-prev .more{
    margin-top: 0!important;
}
.owl-theme .owl-controls .owl-buttons div{
    opacity: 1!important;
    background: inherit!important;
}
.owl-pagination{
    display: none!important;
}

.font-size-12{
    font-size:12px;
}

.margin-bottom-15{
    margin-bottom:15px;
}
.margin-bottom-5{
    margin-bottom:5px;
}
#g-map{
    height:350px;
    width:100%
}

::-moz-placeholder {
    color: green;
}
:-moz-placeholder {
    color: green;
}

.do-not-show{
    display:none!important;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}
.visas-incoming .main-title h3 {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 0;
}
.visas-outgoing-without-container .main-title h3, .tour-particular-outgoing .main-title h3{
    margin-top: 0;
}
.dropdown-menu>li>a {
    padding: 6px 20px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #2c3e50;
    border-color: #2c3e50;
}
.pagination>li>a, .pagination>li>span {
    color: #2c3e50;
}

.btn-primary {
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50;
}

.anchors.visas-anchors {
    margin-top: 20px;
}
select.form-control.input-sm {
    min-width: 80px;
}
#visas-outgoing-without_filter, #visas-incoming-without_filter, #visas-incoming-with_filter {
    text-align: left;
}
.all-contianer .navbar-toggle {
    float: left;
}
.tour-particular-outgoing .about-us-info-single {
    text-align: left;
}
.all-contianer a:focus {
    color: #fff;
}
.gallery-modal .box {
    margin-bottom: 15px;
}

.captcha-image{
    width:300px;
}

.grid{
    -moz-column-count: 4;
    -moz-column-gap: 10px;
    -webkit-column-count: 4;
    -webkit-column-gap: 0px;
    column-count: 4;
    column-gap: 10px;
    width: 100%;
}
.grid-item{
    display: inline-block;
    width: 100%;
    position: relative;
    min-height: 300px;
}
.grid-item img{
    width: 70%;
}
#carousel-slider2{
    margin: 0 auto;
}
.grid_item_block{
    color: #fff;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #E5E5E5;
}
.grid_item_block h2 a{
    color: #72302E;
    font-size: 18px;
}
.grid_item_block h2{
    margin-top: 0;
}
.grid_item_block .arrow i{
    color: rgba(246, 196, 82, 1);
    font-size: 20px;
    display: inline;
}
.grid_item_block .arrow{
    margin-top: 15px;
    display: inline-block;
}
.view_offer{
    color: #fff;
    font-size: 14px;
    border: 0;
    background-color: #72302E;
    font-weight: bold;
    margin-top: 15px;
    padding: 6px 32px;
    margin-bottom: 10px;
}
.descr_offer{
    font-size: 12px;
}
.grid_item_block:hover{
    height: 60%;
}
.grid_item_block a{
    color: #333333;
}
.sidecontentpullout, .sidecontent{
    top: 0!important;
}

/*trip_plan*/
.trip_plan{
    background-color: #E4E4EB;
    min-height: 500px;
    border-radius: 10px;
}
.trip_plan form{
    padding: 50px;
}
.trip_plan .trip_img{
    width: 100%;
    border-radius: 10px;
}
.trip_plan .trip_img img{
    width: 100%;
}
.trip_plan .lets_plan{
    color: #F6C452;
    font-size: 23px;
    font-weight: 700;
    position: absolute;
    top: 10px;
    right: 50px;
    width: 50px;
    line-height: 44px;
}
.trip_plan .trip_form{
    margin-top: 50px;
}
.trip_plan .trip_form label{
    color: #72302E;
    font-size: 23px;
}
.trip_plan .trip_form input{
    width: 280px;
    height: 55px;
    margin-left: 40px;
}
.trip_plan .trip_inp{
    background-color: inherit;
    border-radius: 10px;
    border: 1px solid #72302E;
    outline: none;
    color: #72302E;
}
.trip_plan i:before{
    color: #72302E;
    font-size: 32px;
}
.trip_plan i{
    position: absolute;
    top: 32px;
    right: 58px;
}

.trip_form .row{
    margin-bottom:35px ;
}
.trip_plan h2{
    font-size: 23px;
    color: #72302E;
    font-weight: 700;
    margin-top: 70px;
}
.trip_plan .yellow_line{
    background: #72302E;
    display: inline-block;
    width: 650px;
    height: 5px;
}
.trip_plan textarea{
    width: 90%;
    margin-top: 10px;
    min-height: 120px;
    padding: 20px 10px;
}
.trip_plan .trip_select{
    width: 93%;
    height: 55px;
    color:  #72302E;
    padding-left:10px;
    font-size: 17px;
    font-weight: 700;
    margin-top: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.trip_plan .trip_submit{
    color: #fff;
    background: #72302E;
    outline: none;
    border-radius: 10px;
    width: 100%;
    border: 0;
    font-size: 30px;
    font-weight: 700;
    padding: 12px 0;
    margin: 50px 0;
    border: 3px solid #72302E;
    -webkit-transition: all 0.5s ease;
}
.trip_plan .trip_submit:hover{
    border: 3px solid #72302E;
    background-color: transparent;
    color: #72302E;
}

.trip_plan .trip_check{
    margin-top: 35px;
}

.trip_plan .trip_check label{
    font-style: italic;
    color: #44593A;
}
/* trip_plan calendar */
.ui-datepicker {
    background: #fff;
    border: 1px solid #fff;
    color: #EEE;
}
.ui-datepicker-header{
    color: #44593A;
    background: #F6C452;
    border: none;
}
.ui-datepicker-calendar{
    color: #F6C452;
}
.ui-datepicker-prev:hover{

}
.trip_form_inp input{
    width: 93%;
    height: 55px;
    margin-top: 20px;
}
#lets-plan-form input::-webkit-input-placeholder {
    color: #72302E;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 700;
}
#lets-plan-form{
    background: #E5E5E5;
}
#submit-modal{
    color: #fff!important;
}
#submit-modal:hover{
    color: #72302E!important;
}
#lets-plan-form input::-moz-placeholder{
    color: #72302E;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 700;
}/* Firefox 19+ */
#lets-plan-form input:-moz-placeholder{
    color: #72302E;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 700;
}/* Firefox 18- */
#lets-plan-form input:-ms-input-placeholder{
    color: #72302E;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 700;
}
#lets-plan-form input{
    color: #72302E;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 700;
}
/*trip_plan end*/

/*about us*/
.about_us_block img{
    background: #72302E;
    padding: 6px;
    border-radius: 12px;
}
.about_head{
    background-image: url("../../../img/photos/99ec98fdb81945c29c25a3ad6c5606b1.jpg");
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 160px;
    margin-bottom: 50px;
    padding-top: 20px;
}
.title_about{
    color: #fff ;
    color: #72302E;
    text-transform: capitalize;
    letter-spacing: 8px;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 26px;
}
.about_head_block, .about_body_block{
    margin: 0 auto;
    float: none;
    overflow: auto;
}
.tours_page .about_head_block{
    overflow: inherit;
}
.about_body_block{
    margin-top: 70px;
}
.about_head_block span{
    color: #fff;
    font-size: 11px;
    letter-spacing: 2px;
    width: 55%;
    display: inline-block;
}
.home_about .about_head_block span{
    line-height: 25px;
    font-size: 15px;
}
.trip_block_bottom{
    background: #E5E5E5;
    padding: 15px;
}
.trip_block_bottom h2, .trip_block_bottom p{
    color: #72302E;
    text-align: center;
}
.trip_block_bottom p{
    color: #333333;
    font-size: 16px;
}
.trip_block_bottom a{
    width: 100%;
    display: inline-block;
    text-align: center;
}
.trip_block_bottom .fa-paper-plane, .trip_block_bottom .fa-paper-plane-o {
    font-size: 70px;
    color: #72302E;
    cursor: pointer;
    -webkit-transition: all .6s ease;
}
.trip_block_bottom .fa-long-arrow-down{
    font-size: 20px;
}
.about_title_block h3{
    width: 420px;
    color: #72302E;
    text-align: right;
    padding: 0;
    padding-bottom: 5px;
    letter-spacing: 5px;
}
.about_body_block h1{
    color: #72302E;
    font-weight: 700;
    margin-right: 20px;
}
.about_body_block .yellow_line, .destination_info_title .yellow_line{
    background: #72302E;
    display: inline-block;
    width: 100%;
    height: 5px;
    margin-bottom: 10px;
}
.about_body_block .more i{
    color: #F6C452;
    font-size: 50px;
    background-color: #72302E;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-left: 5px;
    padding-bottom: 5px;
}
.about_body_block .more{
    margin-top: 35px;
    display: inline-block;
    cursor: pointer;
}
.about_body_block .more i:before{
    position: absolute;
    top: -2px;
    left: 13px;
}
.about_body_block .what_we_do_img{
    width: 100%;
    height: 135px;
}
.about_body_block .what_we_do_img img{
    width: 100%;
    height: 100%;
}
.about_body_block h3{
    font-style: italic;
    color: #44593A;
    text-align: center;
}
.about_body_block p{
    color: #44593A;
    line-height: 25px;
    text-align: center;
}
.about_body_block .team_img{
    position: relative;
    width: calc(100% - 2px);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2px;
    background-position-x: center;
}
/*.about_body_block .team_img img{*/
    /*width: 100%;*/
    /*height: calc(100% - 2px);*/
/*}
.about_body_block .team_hover{*/
/*}*/
.about_body_block .team_img img{
    width: 100%;
    height: calc(100% - 2px);
}
.add_feedback_block{
    background: #F2F2F5;
    padding: 31px 70px;
}
.feedback_inputs > input:first-child{
    display: block!important;
}
.feedback_textarea > textarea:first-child{
    display: block!important;
}
.add_feedback_block input, .add_feedback_block textarea{
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #F6C452;
    border-radius: 7px;
    padding: 10px;
    outline: 0;
}
.add_feedback_block textarea{
    min-height: 130px;
}
.add_feedback_button{
    float: right;
    width: 20% !important;
    margin-top: 0;
    border-radius: 23px!important;
    padding: 8px 32px!important;
}
 .team_hover{
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 0;
    height: 0;
    opacity: 0.1;
    border-bottom: 0px solid rgba(246, 196, 82, 0.86);
    border-left: 0px solid transparent;
    -webkit-transition: all 0.2s ease;
}
 .team_hover_name{
    position: absolute;
    bottom: 30px;
    right: 20px;
    color: transparent;
    font-size: 24px;
    opacity: 0;
}
 .team_img:hover .team_hover{
     border-bottom: 199px solid rgba(246, 196, 82, 0.86);
     border-left: 170px solid transparent;
     opacity: 1;
    -webkit-transition: all 0.3s ease;
 }

.tours-box .box:hover .team_hover_name, .team_img:hover .team_hover_name{
    opacity: 1;
    color: #44593A;
    -webkit-transition: all 0.5s ease;
    transition-delay: .3s;

}
.tours-box .team_hover_name{
    transition-delay: .3s;
    color: #44593A!important;
    border-bottom: 202px solid rgba(246, 196, 82, 0.86);
    border-left: 275px solid transparent;
    opacity: 1;
    right: 5px;
    bottom: 40px;
    width: 0;
    height: 0;
   }
.tour_content{
    position: absolute;
    left: -137px;
    top: 105px;
    text-align: center;
}
.tour_item{
    margin-bottom: 10px;
}
.tour_content .tour_name{
    color: #72302E;
    font-size: 11px;
    display: inline-block;
    font-weight: bold;
}
.tour_content .tour_descr{
    display: inline-block;
    font-size: 12px;
}
.tours-box .filterable{
    padding-left: 5px!important;
    padding-right: 5px!important;
}


.about_body_block small{
    font-size: 15px;
}
.about_contact{
    display: inline-block;
    background-color: #72302E;
    border-radius: 10px;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    font-size: 22px;
    margin-top: 60px;
    border: 3px solid #72302E;
    font-weight: 700;
    -webkit-transition: all .5s ease;
    cursor: pointer;
}
.about_contact:hover{
    background-color: transparent;
    color: #72302E;
}
.about_body_block .sertificate_img{
    width: calc(100% - 2px);
    height: 200px;
   /* background: #999;*/
}
.about_body_block .sertificate_img img{
    width: calc(100% - 2px);
}
.about_body_block .about_call{
    display: inline-block;
    background-color: #F6C452;
    border-radius: 30px;
    color: #44593A;
    padding: 10px 0;
    width: 80%;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 3px solid #F6C452;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}
.about_body_block .about_call:hover{
    background-color: transparent;
    color: #F6C452;
}
/*destination*/
.destination_head{
    background-image: url("../../../img/photos/destination.jpg");
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 160px;
    margin-bottom: 35px;
    padding-top: 20px;
}
.destination_head_block, .destination_body_block{
    margin: 0 auto;
    float: none;
    overflow: hidden;
}
.destination_head_block span{
    color: #fff;
    font-size: 11px;
    letter-spacing: 2px;
    display: inline-block;
    line-height: 20px;
}
.destination_body_block h1{
    color: #72302E;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 38px;
    margin-top: 45px;
}
.destination_block{
    margin-bottom: 20px;
    height: 347px;
    background-color: #E5E5E5;
}
.destination_img img{
    width: 100%;
    height: 325px;
}
.destination_block p{
    color: #333333;
    font-size: 16px;
    padding: 0 40px;
    line-height: 30px;
    overflow: hidden;
    font-weight: 700;
}
.destination_block .click_to_see{
    background-color: #72302E;
    color: #FFFFFF;
    padding: 0 25px;
    border-radius: 20px;
    border: 2px solid #72302E;
    outline: none;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 20px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.destination_info .click_to_see{
    background-color: transparent;
    color: #72302E;
    padding: 0 25px;
    border-radius: 20px;
    border: 2px solid #72302E;
    outline: none;
    font-size: 25px;
    margin-left: 25px;
    margin-bottom: 20px;
    float:right;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.destination_block .click_to_see:hover{
    background-color: transparent;
    color: #72302E;
}
.destination_body_block h2{
    color: #72302E;
    font-weight: 700;
}
.destination_info_title{
    padding-right: 15px;
}
.destination_info p{
    color: #333;
    font-size: 15px;
    line-height: 22px;
    padding-right: 100px;
    margin-bottom: 30px;
    text-align: left;
}
.destination_body_block  .show_more{
    overflow: auto;
    width: 100%;
    height: 0;
}
.animate_height{
    height: 400px !important;
    overflow: hidden !important;
    -webkit-transition: all .5s ease;
}
.plan_trip{
    background-color: #72302E;
    color: #FFFFFF;
    padding: 5px 25px;
    border-radius: 20px;
    border: 2px solid #72302E;
    outline: none;
    font-size: 18px;
    margin-bottom: 20px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.plan_trip:hover,  .plan_trip:hover.plan_trip a{
    background-color: transparent;
    color: #72302E!important;
}
.plan_trip a{
    color: #fff;
}
.destination_info .go_top{
    color: #44593A;
    margin: 0 100px 0 20px;
    font-size: 28px;
    cursor: pointer;
}
#destination_search{
    border-radius: 20px;
    border: 1px solid #72302E;
    padding: 7px 25px;
    outline: none;
    color: #FFFFFF;
    background-color: rgba(114, 48, 46, 0.13);
    margin-top: 50px;
    margin-bottom: 20px;
}
#destination_search::-webkit-input-placeholder {
    color: #EEEEEE !important;
}
#destination_search:-moz-placeholder {
    color: #EEEEEE !important;
}
#destination_search::-moz-placeholder {
    color: #EEEEEE !important;
}
#destination_search:-ms-input-placeholder {
    color: #EEEEEE !important;
}
.background_1{
    background-color: #314164;
}
.background_2{
    background-color: #4D3F6E;
}
.background_3{
    background-color: #A1B144;
}
.background_4{
    background-color: #72302E;
}
.background_5{
    background-color: #44593A;
}
.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}


/* header section */


#header .header_section  {
    background-color: #72302E;
    padding-top: 10px;
    padding-bottom: 10px;
}
#header .header_section .logo_section .logo {
    padding: 0px;
}
#header .menu_section {
    background-color: #333333;
}
#header .menu_section .menu_main {
    overflow: hidden;
    margin-bottom: 0px;
}
#header .menu_section .menu_main li {
    float: left;
    margin-right: 10px;
}

#header .menu_section .menu_main li a {
    color: #fff;
    padding: 15px 20px 15px 20px;
    display: inline-block;
    text-transform: uppercase;
    transition: background, 0.35s;
}
#header .menu_section .menu_box {
    position: relative;
}
#header .menu_section .menu_main li a.active {
    background-color: #72302E;
}
#header .menu_section .menu_main li a:hover {
    background-color: #72302E;
    transition: background, 0.35s;
}
#header .menu_section .menu_main li .sub_menu_section {
    background-color: #3F3F3F;
    position: absolute;
    left: 0;
    z-index: 9;
    width: 100%;
    display: none;
    color: #fff;
    border-top: 1px solid #fff;
}
.home_tours_block .sub_menu_section{
    background-color: #E5E5E5;
    width: 100%;
    color: #fff;
    border-top: 1px solid #fff;
}
.img_tour_slide{
    margin-bottom: 20px;
}
#header .menu_section .menu_main li .sub_menu_section .sub_menu, .home_tours_block .sub_menu_section .sub_menu {
     background-color: #94403D;
     width: 200px;
     float: left;
    min-height: 347px;
    max-height: 347px;
}
#header .menu_section .menu_main li .sub_menu_section .sub_menu ul li, .home_tours_block .sub_menu_section .sub_menu ul li {
    float: none;
    text-align: center;
    border-bottom: 1px dashed #fff;
    margin-right: 0px;
}
#header .menu_section .menu_main li .sub_menu_section .sub_menu ul li a, .home_tours_block .sub_menu_section .sub_menu ul li a {
   width: 100%;
}
#header .menu_section .menu_main li .sub_menu_section .sub_menu ul li a:hover, .home_tours_block .sub_menu_section .sub_menu ul li a:hover {
    background-color: #333333;
    color: #fff;
    transition: background, 0.35s;
}

#header .menu_section .menu_main li .sub_menu_section  .featured_section, .home_tours_block .sub_menu_section  .featured_section {
    width: 450px;
    float: left;
    text-align: center;
    padding-bottom: 40px;
    border-right: 1px solid #333333;
}

#header .menu_section .menu_main li .sub_menu_section  .featured_section .title_section, .home_tours_block .sub_menu_section  .featured_section .title_section {
    display: inline-block;
    margin-top: 30px;
    font-size: 17px;
    border-bottom: 3px solid #94403D;
    padding-bottom: 10px;
}

#header .menu_section .menu_main li .sub_menu_section  .featured_section .featured_section_images, .home_tours_block .sub_menu_section  .featured_section .featured_section_images  {
    width: 400px;
    height: 200px;
    margin: 0px auto;
    margin-top: 40px;
    cursor: pointer;
    position: relative;
}

#header .menu_section .menu_main li .sub_menu_section  .featured_section .featured_section_images img, .home_tours_block .sub_menu_section  .featured_section .featured_section_images img {
    width: 100%;
}
#header .menu_section .menu_main li .sub_menu_section  .featured_section .featured_section_images .featured_section_images_box, .home_tours_block .sub_menu_section  .featured_section .featured_section_images .featured_section_images_box {
   position: absolute;
   bottom: 0px;
   text-align: center;
   width: 100%;
}
#header .menu_section .menu_main li .sub_menu_section  .featured_section .featured_section_images .featured_section_images_box .featured_img_title, .home_tours_block .sub_menu_section  .featured_section .featured_section_images .featured_section_images_box .featured_img_title {
    display: block !important;
    width: 100%;
    text-shadow: 1px 1px 2px rgba(20, 20, 20, 1);
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    padding: 0px !important;
}

#header .menu_section .menu_main li .sub_menu_section  .featured_section .featured_section_images .featured_section_images_box .featured_img_title:hover, .home_tours_block .sub_menu_section  .featured_section .featured_section_images .featured_section_images_box .featured_img_title:hover {
    background-color: inherit;
}

#header .menu_section .menu_main li .sub_menu_section  .featured_list, .home_tours_block .sub_menu_section  .featured_list {
    overflow: hidden;
    width: 340px;
    margin: 0px auto;
    padding-bottom: 20px;
}

#header .menu_section .menu_main li .sub_menu_section  .featured_list li, .home_tours_block .sub_menu_section  .featured_list li {
    float: left;
}

#header .menu_section .menu_main li .sub_menu_section  .featured_list li a, .home_tours_block .sub_menu_section  .featured_list li a {
    padding: 0px !important;
    display: inline !important;
}

#header .menu_section .menu_main li .sub_menu_section  .featured_list li a:hover, .home_tours_block .sub_menu_section  .featured_list li a:hover {
    background-color: inherit !important;
}
#header .menu_section .menu_main li .sub_menu_section  .featured_list li  i, .home_tours_block .sub_menu_section  .featured_list li  i {
    margin-right: 5px;
}
#header .menu_section .menu_main li .sub_menu_section   .featured_list li:last-child, .home_tours_block .sub_menu_section   .featured_list li:last-child {
    margin-right: 0px !important;
}
#header .menu_section .menu_main li .sub_menu_section  .featured_section_images_hover, .home_tours_block .sub_menu_section  .featured_section_images_hover {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:rgba(148, 64, 61, 0.35);;
    position: absolute;
    top: 0;
    height: 200px;
    display: none;
    z-index: 5;

}
#header .menu_section .menu_main li .sub_menu_section .featured_section .featured_section_images, .home_tours_block .sub_menu_section .featured_section .featured_section_images {
    overflow: hidden;
    z-index: 10;
}
#header .menu_section .menu_main li .sub_menu_section .featured_section .featured_section_images img, .home_tours_block .sub_menu_section .featured_section .featured_section_images img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10;
}
#header .menu_section .menu_main li .sub_menu_section  .zoom_img, .home_tours_block .sub_menu_section  .zoom_img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 10;
}

#header .menu_section .menu_main li .sub_menu_section  .news_later {
    width: 300px;
    float: left;
    text-align: center;
    padding-bottom: 40px;
    padding-left: 27px;
}
.home_tours_block .sub_menu_section  .news_later{
     float: left;
    width: 75%;
}
.home_tours_block .title_section{
    width: 100%;
    text-align: center;
}
.home_tours_block .tab-pane{
    margin-left: 15px;
}
.home_tours_block .owl-buttons{
    margin-bottom: 10px;
}
.home_tours_block .owl-buttons i{
    font-size: 16px;
    color: #72302E;
}

#header .menu_section .menu_main li .sub_menu_section  .news_later .title_section, .home_tours_block .sub_menu_section  .news_later .title_section {
    display: inline-block;
    margin-top: 30px;
    font-size: 17px;
    border-bottom: 3px solid #94403D;
    padding-bottom: 10px;
}
.home_tours_block{
    margin-top: 20px;
}
.home_tours_block .sub_menu_section .sub_menu a{
    width: 100%;
    display: inline-block;
    color: #fff;
    padding: 15px;
}
.home_tours_block .sub_menu_section .sub_menu ul li{
    border-bottom: 1px solid #fff;
}
.home_tours_block .sub_menu .nav-tabs .active a{
    color: #72302E!important;
}
.home_tours_block .news_later_box{
    margin-right: 10px;
    min-height: 200px;
}
.images-slider{
    width: 80%;
}
.continent_menus_home{
    width: 20%;
}
.continent_menus_home .sub_menu{
    background-color: #E5E5E5;
}
.continent_menus_home .sub_menu ul li{
    width: 100%;
    text-align: center;
    display: inline-block;
    border-radius: 0;
}
.continent_menus_home .sub_menu ul li a{
    color: #72302E;
    font-weight: bold;
    border-radius: 0;
}
.slide_container{
    display: inline-block;
    width: 100%;
}
.continent_menus_home .sub_menu ul .active, .continent_menus_home .sub_menu ul .active a{
    background-color: #72302E!important;
    border: 0;
    color: #fff;
}
.home_tours_block .news_content_title{
    color: #72302E;
    font-size: 16px!important;
}
.home_tours_block .news_content_date, .home_tours_block .news_content_title{
    display: inline-block;
    width: 100%;
    text-align: center!important;
}
.news_later_box .news_content{
    text-align: left;
    padding-left: 15px;
}
.news_later_box .news_content .news_content_title {
    padding: 0px !important;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
}

.news_later_box .news_content .news_content_title:hover {
    background-color: inherit !important;
}
.news_later_section {
    margin-top: 40px;
}
.news_later_box {
    margin-bottom: 10px;
}
.news_content_date {
    padding: 0px !important;
    text-align: left;
    font-size: 11px;
    font-family: sans-serif;
    color: #939390 !important;
}
.news_content_date i {
    margin-right: 5px;
}
.news_later_box .news_content .news_content_date:hover {
    background-color: inherit !important;
}

/* clock */
#clock1, #clock2, #clock3, #clock4 {
    position: relative;
    width: 188px;
    height: 200px;
    margin: 20px auto 0 auto;
    background: url(../../../../public/img/clock/clockface.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    list-style: none;
    display: inline-block;
}
.sec, .min, .hour {
    position: absolute;
    width: 10px;
    height: 190px;
    top: 1px;
    left: 90px;
}
.sec {
    background: url(../../../../public/img/clock/sechand.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 3;
}
.min {
    background: url(../../../../public/img/clock/minhand.png);
    z-index: 2;
    background-repeat: no-repeat;
    background-size: contain;
}
.hour {
    background: url(../../../../public/img/clock/hourhand.png);
    z-index: 1;
    background-repeat: no-repeat;
    background-size: contain;
}
p {
    text-align: center;
    padding: 10px 0 0 0;
}

/*destination tabs*/
.destination_body_block .destination_tabs .active a{
    background-color: #72302E !important;
    color: #fff !important;
    border: 2px solid #72302e !important;
}
.destination_body_block .nav-tabs>li>a {
    background-color: #333;
    border-radius:0 !important;
    color: #fff;
    font-weight: 700;
    text-align: center;
    border: 2px solid #333 !important;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.destination_body_block .nav-tabs>li.active>a:hover{
    color: #fff !important;
}
.destination_body_block .nav-tabs>li>a:hover{
    background-color: transparent;
    color: #333 !important;
}
.destination_body_block .nav-tabs>li {
     width: 20%;
 }

.destination_img  .centered-btns_nav{
    position: absolute;
    z-index: 10;
}
.destination_img  .prev {
     left: 0;
}
.destination_img  .next {
    right: 0;
}
.destination_img .rslides_container{
    position: absolute;
}