#feedbacks {
    list-style-type: none;
    padding-left:0;
}

#feedbacks li {
    list-style-type: none;
    margin-bottom: 3px;
    position:relative;
}

.ui-icon.ui-icon-arrowthick-2-n-s {
    display:inline-block;
    position:relative;
    top:3px;
}

.delete-feedback{
    position:absolute;
    top:4px;
    right:3px;
}

.edit-feedback {
    position:absolute;
    top:3px;
    right:20px;
}

.feedback-customer-name {
    position:relative;
    left:100px;
}


