.partner-thumb{
    width:34px;
    margin:2px;
    border:1px solid grey;
    padding:2px;
}

#partners {
    list-style-type: none;
    padding-left:0;
}

#partners li {
    list-style-type: none;
    margin-bottom: 3px;
    position:relative;
}

.ui-icon.ui-icon-arrowthick-2-n-s {
    display:inline-block;
    position:relative;
    top:3px;
}

.delete-partner{
    position:absolute;
    top:4px;
    right:3px;
}

.edit-partner {
    position:absolute;
    top:3px;
    right:20px;
}



