#active-languages, #inactive-languages {
    list-style-type: none;
    padding-left:0px;
}

#active-languages li, #inactive-languages li{
    list-style-type: none;
    margin-bottom: 3px;
    position:relative;
}

.ui-icon.ui-icon-arrowthick-2-n-s {
    display:inline-block;
    position:relative;
    top:3px;
}

.deactivate-language,  .activate-language{
    position:absolute;
    top:4px;
    right:3px;
}

.edit-language {
    position:absolute;
    top:3px;
    right:20px;
}
